
.whoms-turn {
    font-size:1.5em;
    margin-bottom: 15px;
}


.row { 
    width:400px;
    height: 130px;
    /* border: 1px solid black; */
    margin: auto;
}


.column { 
    width: 130px;
    height: 130px;
    border : 1px solid black;
    display: inline-block;
}

